@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a asp-controller="Raw" asp-action="Index">Clean Codding Principles</a>.</p>
</div>
