@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about Clean Coding Principles.</p>
    <a class="btn btn-light" asp-controller="Raw" asp-action="Index">Raw</a>
    <a class="btn btn-light" asp-controller="BooleanMethods" asp-action="Index">Boolean Methods</a>
</div>
